<div class="container">
  <div class="flex flex-wrap">
    <div class="self-center w-full px-4 lg:w-1/2">
      <h1 class="mt-4 text-4xl font-semibold text-primary lg:text-5xl dark:text-primary_dark">Leonard Walujan</h1>
      <h2 class="block mb-5 text-lg font-medium text-secondary dark:text-secondary_dark">Manado, Indonesia</h2>
      <p class="leading-relaxed lg:text-lg mb-9 text-text dark:text-text_dark">
        Halo semua👋, nama saya <span class="font-semibold text-primary dark:text-primary_dark">Leonard Natanael Walujan</span> dari
        <span class="font-semibold text-primary dark:text-primary_dark">Kota Manado, Sulawesi Utara, Indonesia.</span> Saya adalah mahasiswa
        <span class="font-semibold text-primary dark:text-primary_dark">Politeknik Negeri Manado,</span> dan saat ini mengambil jurusan <span class="font-semibold text-primary dark:text-primary_dark">Teknik Elektro</span> dengan program
        studi <span class="font-semibold text-primary dark:text-primary_dark">Teknik Informatika.</span> Saya tertarik untuk belajar tentang fotografi, videografi, dan pemrograman.
      </p>
      <a class="px-3 py-2 text-base font-medium capitalize rounded-md bg-slate-200 hover:bg-primary hover:text-white dark:bg-slate-700 dark:text-white dark:hover:bg-primary_dark dark:hover:text-black" href="/blog">Kunjungi blog</a>
    </div>
    <div class="self-end w-full px-4 mt-12 lg:w-1/2">
      <div class="lg:m-auto">
        <img src="{{ .Site.BaseURL }}/img/lw-25-12-2021-720p.webp" alt="Leonard Walujan" class="max-w-[200px] sm:max-w-[250px] lg:max-w-[400px] mx-auto rounded-full" />
      </div>
    </div>
  </div>
</div>
